apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    app.kubernetes.io/managed-by: starboard
  name: clusterconfigauditreports.aquasecurity.github.io
spec:
  group: aquasecurity.github.io
  names:
    categories: []
    kind: ClusterConfigAuditReport
    listKind: ClusterConfigAuditReportList
    plural: clusterconfigauditreports
    shortNames:
    - clusterconfigaudit
    singular: clusterconfigauditreport
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - description: The name of the config audit scanner
      jsonPath: .report.scanner.name
      name: Scanner
      type: string
    - description: The age of the report
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - description: The number of failed checks with critial severity
      jsonPath: .report.summary.Critial
      name: Critial
      priority: 1
      type: integer
    - description: The number of failed checks with high severity
      jsonPath: .report.summary.highCount
      name: High
      priority: 1
      type: integer
    - description: The number of failed checks with medium severity
      jsonPath: .report.summary.mediumCount
      name: Medium
      priority: 1
      type: integer
    - description: The number of failed checks with low severity
      jsonPath: .report.summary.lowCount
      name: Low
      priority: 1
      type: integer
    name: v1alpha1
    schema:
      openAPIV3Schema:
        type: object
        x-kubernetes-preserve-unknown-fields: true
    served: true
    storage: true
    subresources:
      status: {}
