# SPDX-FileCopyrightText: The kube-custom-resources-rs Authors
# SPDX-License-Identifier: 0BSD

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - sebhoss
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    assignees:
      - sebhoss
