# SPDX-FileCopyrightText: The kube-custom-resources-rs Authors
# SPDX-License-Identifier: 0BSD

[package]
name = "code-generator"
version = "1.0.0"
authors = ["Sebastian Hoß <seb@hoß.de>"]
edition = "2021"
publish = false

[dependencies]
reqwest = { version = "0.12.4", default-features = false, features = ["blocking", "rustls-tls"] }
k8s-openapi = { version = "0.23.0", features = ["latest"] }
serde_yaml = { version = "0.9.34" }
glob = { version = "0.3.1" }
itertools = { version = "0.13.0" }
